<footer>
	<div class="container">
		<% if (theme.sidebar === 'bottom'){ %>
			<%- partial('_partial/sidebar') %>
		<% } %>
		<div class="row">
				<div class="col-xs-6">
					<i class="fa fa-creative-commons" title="Creative Commons Attribution, Share-Alike License"></i>
					<%- date(Date.now(), 'YYYY') %> Erudika
				</div>
				<div class="col-xs-6 text-right">
					<a href="https://github.com/Erudika/erudika.github.io" target="_blank">Powered by Hexo.</a>
					<strong>
						Images courtesy of <a href="http://nos.twnsnd.co" target="_blank">New Old Stock</a>.
					</strong>
				</div>
		</div>
	</div>
</footer>