<footer>
	<% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
	<div class="container">
		<div class="row">
			<div class=" columns">
				<div class="col-xs-6">
					Hosted on <a href="https://github.com/Erudika/erudika.github.io"><i class="fa fa-github fa-lg"></i> GitHub</a>
				</div>
				<div class="col-xs-6 text-right">
					Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
				</div>
			</div>
		</div>
	</div>
</footer>