lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components

tmp
temp
TODO.md
vendor
_gh_pages
_gh-pages
*.sublime-*
nbproject
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

.DS_Store
Thumbs.db
db.json
*.log
.deploy*/
sprite.png

bun.lock
.vscode
old_website/
dist/
