/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;600&family=Rubik:wght@400;500;600;700&display=swap"); */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: corporate --default, business --prefersdark;
};

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }

  a {
    @apply text-sky-700
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Open Sans", sans-serif, system-ui;
    letter-spacing: -0.02em;
  }

  /* pre {
    @apply px-5 py-5
  }
  code,
  pre {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    @apply rounded-md
  } */
}

@layer components {
  .section-shell {
    @apply mx-auto px-6 sm:px-8 w-full max-w-6xl;
  }

  .chip {
    @apply rounded-[3px] border border-base-300 bg-base-100 px-4 py-2 text-sm font-medium text-base-content/90 shadow-sm transition hover:border-sky-400 hover:text-sky-700;
  }

  .btn-primary:hover {
    filter: brightness(1.1);
  }
}

.logo-light {
  display: block;
}

.logo-dark {
  display: none;
}

[data-theme="business"] .logo-light {
  display: none;
}

[data-theme="business"] .logo-dark {
  display: block;
}
