<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">Recents
			<% if (theme.rss){ %>
				<a href="<%- theme.rss %>" title="RSS Feed"><i class="fa fa-rss"></i></a>
			<% } %>
		</h3>
    <div class="widget">
      <ul>
        <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>