<div class="widget-wrap">
	<h3 class="widget-title">Links</h3>
	<div class="widget">
<!--		<a class="twitter-timeline" data-lang="en" data-width="290" data-height="300" data-theme="light" href="https://twitter.com/erudika">
			Tweets by erudika</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
		<ul>
			<li>
				<a href="https://github.com/Erudika">Erudika on GitHub</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/company/erudika/">Erudika on LinkedIn</a>
			</li>
			<li>
				<a href="https://hub.docker.com/repositories/erudikaltd">Erudika on Docker Hub</a>
			</li>
		</ul>
	</div>
</div>

